.main{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.signUp{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Adjust width as needed */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

form h2{
    color: black;
}

form label{
    color: white;
}

.form-group{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-group input{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    box-sizing: border-box; 
}

.signUp form button{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signUp form button:hover{
    background-color: #0056b3;
}

.header{
    color: white;
    margin-top: 10px;
    height: 150px;
    width: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex; /* Add display flex */
    flex-direction: column; /* Arrange items vertically */
    justify-content: space-between; /* Space items vertically */
    position: relative; /* Add position relative for positioning .btm */
}

.header h1{
    margin: 0;
    padding: 0;
}

.btm{
    color: white;
    padding: 0;
    margin: 0;
    position: absolute; /* Position the .btm absolutely */
    bottom: 0; /* Align to bottom */
    right: 0; /* Align to right */
}
.btm p{
    color: white;
    padding: 0;
    margin: 0;
    float: right;
}

.header img{
    height: 250px;
    width: auto;
}