.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(17, 25, 40, 0.75);
  color: #fff;
  padding: 10px 20px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure the navbar stays on top */
  height: 5vh;
}

.brand {
  font-size: 24px;
  font-weight: bold;
  padding-right: 5vw;
}

.links-container {
  display: flex;
  align-items: center;
  padding-top: 3px;
  justify-content: space-between;
  width: 66.67%;
}

.links {
  margin-right: 20px;
  cursor: pointer;
}

.container1{
  display: flex;
  justify-content: space-between;
  width: 33.33%;
}

.container2{
  padding-right: 2vw;
  display: flex;
}

.points{
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  padding-right: 20px ;
}

.navbar-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 40px;
}

.navbar-btn:hover {
  background-color: #0056b3;
}

.containerPhone{
  display: none;
}

.open{
  display: none;
}

@media  (max-width: 768px) {
  .containerPhone{
    display: flex;
  }
  .containerPhone button {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 8px;
    transition: all 0.3s ease;
  }
  .containerPhone button:hover {
    background-color: rgba(17, 25, 40, 0.75);
  }
  .open{
    display: block;
    position: absolute;
    top:7vh;
    width: 100vw;
    left: 0vh !important;
    background-color: rgba(17, 25, 40, 0.75);
  }
  .open div{
    padding: 30px 20px;
    color: white;
  }
}